body {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1920px;
  background-color: #d9d9d9;
}

.hidden-visually {
  position: static;
  width: 0.001em;
  height: 0.001em;
  margin: -0.01em;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:focus,
:active,
:visited {
  outline: 0;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.body-wrapper {
  width: 90%;
  margin: 0 auto;
  background-color: #e1e1e1;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header-wrapper,
.main-wrapper,
.footer-wrapper {
  width: 80%;
  margin: 0 auto;
}

/*----------*/
.header-title {
  font-family: 'Roboto';
  font-size: 4em;
  font-weight: 600;
  color: #636363;
  text-align: left;
  margin: 0.5em 0;
  padding: 0;
}

.section {
  border-bottom: 0.2em solid rgba(184, 184, 184, 0.4);
}

.section-bottom {
  border-bottom: none;
}

/*section-header*/
.section-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em auto;
}
@media(hover:hover){
  .section-label {
    cursor:pointer;
  }
}
.section-title {
  font-family: 'Roboto';
  font-size: 3em;
  font-weight: 600;
  color: #9c3838;
  text-align: left;
  margin: 0;
  padding: 0;
}

.section-icon {
  background-image: url("../icons/add.svg");
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

/*section-content*/
.section-image {
  display: grid;
  grid-template-rows: 25% auto;
  grid-template-columns: auto;
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.section-image img {
  grid-column: 1/ -1;
  grid-row: 1 /-1;
  object-fit: cover;
  transition: all 1s linear;
}

.section-text {
  grid-column: 1 /-1;
  grid-row: 1 /span1;
  width: 85%;
  display: grid;
  font-family: 'Roboto';
  font-size: 4em;
  font-weight: 600;
  color: #fff;
  text-align: center;
  z-index: 2;
  margin: 0.5em auto 0 auto;
  padding: 0;
}
.section-content,
.section-icon {
  height: 0;
  overflow: hidden;
  transition: all 1s linear;
   }

@media(hover:hover){
  .section-content,
.section-icon{
    cursor:pointer;
  }
}

.section-icon {
  transition: all 0.2s linear;
}
/*effects*/
/*открытая секция*/
.section-checbox:checked~.section-content {
  height: 54em;
}

.section-checbox:checked+.section-label .section-title {
  color: #636363;
}

.section-checbox:checked+.section-label .section-icon {
  overflow: visible;
  display: block;
  max-width: 2em;
  height: 2em;
  transform: rotate(45deg);
}

/*наведение на баян*/

@media(hover:hover){
.main-wrapper:hover {
  cursor: pointer;
}
}


.main-wrapper:hover .section-icon {
  overflow: visible;
  display: block;
  max-width: 2em;
  height: 2em;
}

/*наведение на картинку*/
.section-image img:hover {
  transform: scale(1.1);
  opacity: 0.3;
}

/*footer*/
.footer {
  height: 10em;
  margin-top: 4em;
  border-top: 0.2em solid rgba(184, 184, 184, 0.4);
  padding-top: 4em;
}

.footer-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  display: block;
  width: 2em;
  height: auto;
  margin-right: 3em;
}

.footer-link {
  font-family: 'Roboto';
  font-size: 2em;
  font-weight: 400;
  color: #636363;
  text-align: center;
  text-decoration: none;
  margin: 0;
}
/*----*/

@media (max-width: 820px) {
  body {
    width: 820px;
  }
 .section-image img:hover {
    transform: none;
    opacity: none;
  }
  .header-title {
    font-size: 3em;
  }

  .section-title {
    font-size: 2.5em;
    font-weight: 500;
  }

  .section-text {
    font-size: 2.5em;
    font-weight: 500;
  }
  .section-checbox:checked~.section-content {
    height: 28em;
  }

}

@media (max-width: 320px) {
  body {
    width: 320px;
  }

  .header-title {
    font-size: 2em;
  }
  .section-title {
    font-size: 2em;
    font-weight: 400;
  }

  .section-text {
    font-size: 1.5em;
    font-weight: 400;
  }
}
